* {
  margin: 0;
  padding: 0;
}

#bg-tourist-frame {
  background: url("image-file/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 868px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 68.75%;
  margin: auto;
  padding: 22px 15px;
  justify-content: space-between;
}

span {
  color: white;
}

#left-nav {
  display: flex;
  align-items: center;
  width: 61.21%;
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

#left-nav > img {
  margin-right: 30px;
}

#left-nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.07px;
  width: 75.72%;
}

#left-nav > div > div {
  display: flex;
  align-items: center;
}

#left-nav > div > div:nth-child(1) > p {
  color: rgba(235, 102, 43, 1);
}

/* Right Navbar */
#right-nav {
  display: flex;
  justify-content: space-between;
  width: 19.1625%;
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

#right-nav > div {
  display: flex;
  align-items: center;
  text-align: right;
}

/* Head and Search form Stylings */

#head-search {
  width: 45.83%;
  margin: 59px 533px 0px 507px;
}

#head-search > h1 {
  margin: -4px 107.91px 0px 108.09px;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;

  background: linear-gradient(90.84deg, #ee8c61 27.01%, #4c43c4 87.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Search Form */

.search-form {
  background: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 200px;
  padding: 10px;
  margin-top: 27px;
}

.search-form > div {
  display: flex;
  width: 90.35%;
  padding: 5px 10px;
}

.search-form > div > div {
  display: flex;
  width: 249.36px;
}

.search-form > div > div > div > h5 {
  font-family: Inter;
  font-size: 14.88px;
  font-weight: 500;
  line-height: 24px;
}

.search-form > div > div > div > p {
  font-family: Inter;
  font-size: 13.67px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
}

.search-form > div > div > div:first-child {
  background: rgba(235, 102, 43, 0.05);
  width: 50px;
  border-radius: 50%;
  margin-right: 3.2px;
}

.search-form button {
  width: 62px;
  background: rgba(235, 102, 43, 1);
  border-radius: 50%;
  padding: 22px;
  border: none;
}
.search-form button > span {
  color: rgba(235, 102, 43, 1);
}

/* Popular Cards */

#popular-cards {
  width: 68.75%;
  margin: 127px auto;
  padding: 5px 15px;
}

.cards-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.cards-head > a{
  text-decoration: none;
  font-family: Inter;
font-size: 14.3px;
font-weight: 400;
line-height: 28.13px;
text-align: left;

}


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cards > div {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.cards > div ::after{
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073C 100%);

}

.cards > div:nth-child(1) {
  grid-area: 1/1/3/2;
  width: 410px;
  height: 510px;
}

.cards > div:nth-child(2) {
  grid-area: 1/2/2/2;
  width: 300px;
  height: 240px;
}

.cards > div:nth-child(3) {
  grid-area: 1/3/2/9;
  width: 520px;
  height: 240px;
}

.cards > div:nth-child(4) {
  width: 300px;
  height: 240px;
}

.cards > div:nth-child(5) {
  /* width: 190px; */
  height: 240px;
}

.cards > div:nth-child(6) {
  width: 300px;
  height: 240px;
}

.cards h4 {
  position: absolute;
  bottom: 30px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 19.53px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  left: 30px;
}

.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

#footer {
  width: 68.75%;
  margin: 105px auto 110px auto;
  padding: 0px 15px 4.13px 15px;
}

.footer-cards {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.footer-cards img {
  margin: 40px 0px 30px 0px;
  width: 60px;
}

.footer-cards h3 {
  width: 204.4px;
  font-family: Inter;
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

.footer-cards p {
  width: 255.53px;
  margin-right: 74.47.px;
  font-family: Inter;
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
